# GitLab Runner Configuration for Docker Swarm
# /etc/gitlab-runner/config.toml

# This is an example configuration after registration
# The actual config will be generated during runner registration

concurrent = 4  # Number of concurrent jobs
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "swarm-docker-runner"
  url = "https://gitlab.bojemoi.lab.local"
  token = "YOUR_RUNNER_TOKEN"
  executor = "docker"
  
  [runners.custom_build_dir]
  
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  
  [runners.docker]
    tls_verify = false
    image = "alpine:latest"
    privileged = true
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = [
      "/var/run/docker.sock:/var/run/docker.sock",
      "/cache"
    ]
    shm_size = 0
    network_mode = "gitlab_gitlab_internal"
    
    # DNS configuration for internal services
    dns = ["YOUR_DNS_SERVER"]
    dns_search = ["bojemoi.lab.local"]
    
    # Extra hosts for internal services
    extra_hosts = [
      "gitlab.bojemoi.lab.local:YOUR_SWARM_IP",
      "registry.bojemoi.lab.local:YOUR_SWARM_IP",
      "faraday.bojemoi.lab.local:YOUR_SWARM_IP",
      "grafana.bojemoi.lab.local:YOUR_SWARM_IP"
    ]
    
    # Allow access to internal networks
    allowed_images = ["*"]
    allowed_services = ["*"]

# Configuration for specialized runners

[[runners]]
  name = "swarm-pentest-runner"
  url = "https://gitlab.bojemoi.lab.local"
  token = "YOUR_PENTEST_RUNNER_TOKEN"
  executor = "docker"
  
  # Only run jobs tagged with 'pentest'
  tag_list = ["pentest", "security"]
  
  [runners.docker]
    image = "registry.bojemoi.lab.local/pentest/base:latest"
    privileged = true
    volumes = [
      "/var/run/docker.sock:/var/run/docker.sock"
    ]
    network_mode = "pentest_internal"
    
    # Pentest tools need special capabilities
    cap_add = ["NET_ADMIN", "NET_RAW"]
    
    dns = ["YOUR_DNS_SERVER"]
    dns_search = ["bojemoi.lab.local"]

[[runners]]
  name = "swarm-deployment-runner"
  url = "https://gitlab.bojemoi.lab.local"
  token = "YOUR_DEPLOY_RUNNER_TOKEN"
  executor = "docker"
  
  # Only run deployment jobs
  tag_list = ["deploy", "swarm"]
  
  [runners.docker]
    image = "docker:latest"
    privileged = true
    volumes = [
      "/var/run/docker.sock:/var/run/docker.sock"
    ]
    
    # This runner can access all swarm networks
    network_mode = "host"
    
    environment = [
      "DOCKER_HOST=unix:///var/run/docker.sock",
      "DOCKER_TLS_CERTDIR="
    ]
